<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Chat Catho</title>

<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="../static/css/chat.css">
<link rel="stylesheet" type="text/css" href="../static/css/boxchat.css">

<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/jquery.tinyscrollbar.js"></script>
<script type="text/javascript" src="../static/js/chat.js"></script>

</head>
<body>
	<header>
		<div class="container">
			<div class="logo"></div>
			<a href="#login" class="login">Login</a>
		</div>
	</header>
	<section>
	
	
    	
    	<div id="chat">
    		<div class="topo">
    			<div class="titulo">
    				Vaga: Desenvolvedor Front-end
    			</div>
    			<div class="botoes">
    				<div class="minimize"></div>
    				<div class="close"></div>
    			</div>
    		</div>
    		<div class="conteudo">
	    		<div class="chat">
	    			<div id="scrollbar1">
			            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
			            <div class="viewport">
			                 <div class="overview">			                 
			                 	<div id="boxchat">
									<div class="linechat">
										<ul>
											<li>										
												
												<div class="setadir">
													<div class="box">
														<div class=	"conversa">
															<div class="sentencas">Claro Renata. Amanhã estarei por aí. Teste de mensagem mais longa possível para ver parágrafos e observar se há quebra de linhas e se o texto está ok. Quero ver isso poara não ter problemas na implementação do js</div>
															<div class="perfil">Você</div>
															<div class="visualizacao nlido">
																<div class="horario">enviado as 18h37</div>
															</div>
														</div>
														
													</div>
												</div>
												
												<div class="setadir">
													<div class="box">
														<div class=	"conversa">
															<div class="sentencas">Claro Renata. Amanhã estarei por aí. Teste de mensagem mais longa possível para ver parágrafos e observar se há quebra de linhas e se o texto está ok. Quero ver isso poara não ter problemas na implementação do js</div>
															<div class="perfil">Você</div>
															<div class="visualizacao nlido">
																<div class="horario">enviado as 18h37</div>
															</div>
														</div>
														
													</div>
												</div>
												
												
											</li>
											<li>
												<div class="foto">
													<img src="../static/img/profiles/1439505.jpg">
												</div>
											
											</li>
										</ul>
																				
									</div>    
									
									
									
									
									
									
									
									<!--  inicio chat RH Catho -->
									
									
									
									<div class="linechat">
										<ul>
											<li>
												<div class="foto esq">
													<img src="../static/img/profiles/9483484.jpg">
												</div>
											
											</li>
										
											<li>										
												
												<div class="setaesq">
													<div class="box">
														<div class=	"conversa">
															<div class="sentencas">Claro Renata. Amanhã estarei por aí. Teste de mensagem mais longa possível para ver parágrafos e observar se há quebra de linhas e se o texto está ok. Quero ver isso poara não ter problemas na implementação do js</div>
															<div class="perfil">
																<div class="nome">Renata</div>
																<div class="empresa">Catho</div>
															</div>
															
															<div class="visualizacao">
																<div class="horario">enviado as 18h37</div>
															</div>
														</div>
														
													</div>
												</div>
												
												
												
											</li>
											
										</ul>
																				
									</div>
									
									              
								</div>
			                </div>
			            </div>
			        </div>
	    		</div>
	    		<div class="mensagem">
	    			<textarea placeholder="Digite aqui sua mensagem" class="uiTextareaAutogrow _552m" data-ft="{&quot;tn&quot;:&quot;+N&quot;}" onkeydown="run_with(this, [&quot;legacy:control-textarea&quot;], function() {TextAreaControl.getInstance(this)});"></textarea>
	    		</div>
    		</div>
    	</div>
	
	</section>
	<footer>
		<div class="container">
			<ul>
				<li><div class="logo"></div></li>
				<li><div class="rodape">Catho Online Ltda. <span class="sep">|</span> CNPJ: 03.753.088/0001-00 <span class="sep">|</span> Alameda Juari, 262 - Barueri, SP - 06460-090 <span class="sep">|</span> <a href="#politica" class="politica">Política de Privacidade</a></div></li>
			</ul>			
		</div>
	</footer>
</body>
</html>