<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Chat Catho</title>

<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="../static/css/chat.css">
<link rel="stylesheet" type="text/css" href="../static/css/boxchat.css">


</head>
<body>
	<header>
		<div class="container">
			<div class="logo"></div>
			<a href="#login" class="login">Login</a>
		</div>
	</header>
	<section>
	</section>
	<footer>
		<div class="container">
			<ul>
				<li><div class="logo"></div></li>
				<li><div class="rodape">Catho Online Ltda. <span class="sep">|</span> CNPJ: 03.753.088/0001-00 <span class="sep">|</span> Alameda Juari, 262 - Barueri, SP - 06460-090 <span class="sep">|</span> <a href="#politica" class="politica">Política de Privacidade</a></div></li>
			</ul>			
		</div>
	</footer>
</body>

<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/jquery.tinyscrollbar.js"></script>
<script type="text/javascript" src="../static/js/jquery.tmpl.min.js"></script>	
<script type="text/javascript" src="../static/js/chat.js"></script>


</html>