@CHARSET "UTF-8";

	#boxchat{
		width:570px;
	}
	
	#boxchat > div.linechat{
		width:100%;
		color:#666666;
		float:left;
	}

	#boxchat > div.linechat > ul {
		padding:0; margin:0
	}
	
	#boxchat > div.linechat > ul > li {
		display:inline;
		padding:0; margin:0
	}
	
	#boxchat > div.linechat > ul > li > div{
		margin-top:10px
	}
	
	#boxchat > div.linechat{
		margin-top:10px
	}
	
	#boxchat > div.linechat:first-child{
		margin-top:0px
	}
	
	#boxchat > div.linechat > ul > li > div:first-child{
		margin-top:0
	}
	
	#boxchat > div.linechat > ul > li > div.setadir{
		padding: 0px 15px 0 0;
		background:  url("../../../static/img/setas.gif") no-repeat right 0px;
		float:left
	}
	
	#boxchat > div.linechat > ul > li > div.setaesq{
		padding: 0 0 0 15px;
		background:  url("../../../static/img/setas.gif") no-repeat left 0px;
		float:right
	}
	
	#boxchat > div.linechat > ul > li > div > div.box{
		width:427px;
		float:left;
		padding:10px
	}
	
	#boxchat > div.linechat > ul > li > div > div.box{
		background-color:#dddddd;
	}
	
	#boxchat > div.linechat > ul > li > div > div.box > div.conversa{
		position:relative;
		float:left
	}
	
	#boxchat > div.linechat > ul > li > div > div.box > div.conversa > div.perfil
	{
		font-size:14px;
		font-style:italic;
		font-family:arial,verdana;
		float:left;
		width:144px;
		
	}
	#boxchat > div.linechat > ul > li > div > div.box > div.conversa > div.perfil > div.empresa{
		font-weight:bold
	}
	
	#boxchat > div.linechat > ul > li > div.setadir > div.box > div.conversa{
		float:left;
	}
	
	#boxchat > div.linechat > ul > li > div > div.box > div.conversa > div.sentencas{
		font-size:16px;
		font-style:italic;
		font-family:arial,verdana;
		width:282px;
		float:left
	}
	
	#boxchat > div.linechat > ul > li > div.setaesq > div.box > div.conversa > div.sentencas{
		float:right
	}
		
	#boxchat > div.linechat > ul > li > div > div.box > div.conversa > div.visualizacao > div.horario{
		font-size:11px;
		font-style:italic;
		font-family:arial,verdana;
	}
	
	#boxchat > div > ul > li > div.setadir > div > div > div.perfil{
		text-align:right;
		position:absolute;
		bottom:20px;
		right:0px
	}
	
   #boxchat > div > ul > li > div.foto.esq{
		float:left
	}
	
	#boxchat > div > ul > li > div.setaesq > div > div > div.perfil{
		text-align:right;
		position:absolute;
		bottom:20px;
		left:0px
	}
	
	#boxchat > div > ul > li > div.setaesq > div > div > div.perfil{
		text-align:left;
	}
	
	#boxchat > div > ul > li > div > div > div > div.visualizacao{
		width:425px;
		float:left;
		height:17px
	}
	
	#boxchat > div > ul > li > div > div > div > div.visualizacao.lido{
		background:  url("../../../static/img/status-ok.gif") no-repeat 0 0px;
	}
	
	#boxchat > div > ul > li > div > div > div > div.visualizacao.nlido{
		background:  url("../../../static/img/status-waiting.gif") no-repeat 0 0px;
	}
	
	#boxchat > div > ul > li > div.setadir > div > div > div.visualizacao{
		text-align:right
	}
	
	
	#scrollbar1
	{
	    width:575px;
	    position: relative;
	    box-sizing:border-box;
	}
	
	
	#scrollbar1 .viewport
	{
	    height: 410px;
	    overflow:hidden;
	    position:relative;
	}
	
	#scrollbar1 .overview
	{
	    list-style:none;
	    position:absolute;
	    left:0;
	    top:0;
	    margin:0;
	    padding: 10px 20px;
	}
	
	#scrollbar1 .scrollbar
	{
	    background:transparent url(../../static/img/bg-scrollbar-track-y.png) no-repeat 0 0;
	    position:absolute;
	    background-position:0 0;
	    right: -20px;
	    top:0;
	    width:15px;
	}
	
	#scrollbar1 .track
	{
	    background:transparent url(../../static/img/bg-scrollbar-trackend-y.png) no-repeat 0 100%;
	    height:100%;
	    width:13px;
	    position:relative;
	    padding:0 1px;
	}
	
	#scrollbar1 .thumb
	{
	    background:transparent url(../../static/img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;
	    height:20px;
	    width:25px;
	    cursor:pointer;
	    overflow:hidden;
	    position:absolute;
	    top:0;
	    left:-5px;
	}
	
	#scrollbar1 .thumb .end
	{
	    background:transparent url(../../static/img/bg-scrollbar-thumb-y.png) no-repeat 50% 0;
	    overflow:hidden;
	    height:5px;
	    width:25px;
	}
	
	#scrollbar1 .disable
	{
	    display:none;
	}
	
	.noSelect
	{
	    user-select:none;
	    -o-user-select:none;
	    -moz-user-select:none;
	    -khtml-user-select:none;
	    -webkit-user-select:none;
	}