@CHARSET "UTF-8";

	
	#boxchat{
		width:571px;
			padding:10px
	}
	
	#boxchat > div.linechat{
		width:100%;
		color:#666666;
		float:left;
	}

	#boxchat > div.linechat > ul {
		padding:0; margin:0
	}
	
	#boxchat > div.linechat > ul > li {
		display:inline;
		padding:0; margin:0
	}
	
	#boxchat > div.linechat > ul > li > div{
		margin-top:10px
	}
	
	#boxchat > div.linechat{
		margin-top:10px
	}
	
	#boxchat > div.linechat:first-child{
		margin-top:0px
	}
	
	#boxchat > div.linechat > ul > li > div:first-child{
		margin-top:0
	}
	
	#boxchat > div.linechat > ul > li > div.setadir{
		padding: 0px 15px 0 0;
		background:  url("../../../static/img/setas.gif") no-repeat right 0px;
		float:left
	}
	
	#boxchat > div.linechat > ul > li > div.setaesq{
		padding: 0 0 0 15px;
		background:  url("../../../static/img/setas.gif") no-repeat left 0px;
		float:right
	}
	
	#boxchat > div.linechat > ul > li > div > div.box{
		width:427px;
		float:left;
		padding:10px
	}
	
	#boxchat > div.linechat > ul > li > div > div.box{
		background-color:#dddddd;
	}
	
	#boxchat > div.linechat > ul > li > div > div.box > div.conversa{
		position:relative;
		float:left
	}
	
	#boxchat > div.linechat > ul > li > div > img {
		max-width: 100%;
		height: auto;
	}
	
	#boxchat > div.linechat > ul > li > div > div.box > div.conversa > div.perfil
	{
		font-size:14px;
		font-style:italic;
		font-family:arial,verdana;
		float:left;
		width:144px;
		
	}
	#boxchat > div.linechat > ul > li > div > div.box > div.conversa > div.perfil > div.empresa{
		font-weight:bold
	}
	
	#boxchat > div.linechat > ul > li > div.setadir > div.box > div.conversa{
		float:left;
	}
	
	#boxchat > div.linechat > ul > li > div > div.box > div.conversa > div.sentencas{
		font-size:16px;
		font-style:italic;
		font-family:arial,verdana;
		width:282px;
		float:left
	}
	
	#boxchat > div.linechat > ul > li > div.setaesq > div.box > div.conversa > div.sentencas{
		float:right
	}
		
	#boxchat > div.linechat > ul > li > div > div.box > div.conversa > div.visualizacao > div.horario{
		font-size:11px;
		font-style:italic;
		font-family:arial,verdana;
	}
	
	#boxchat > div > ul > li > div.setadir > div > div > div.perfil{
		text-align:right;
		position:absolute;
		bottom:20px;
		right:0px
	}
	
   #boxchat > div > ul > li > div.foto.esq{
		float:left
	}
	
	#boxchat > div > ul > li > div.setaesq > div > div > div.perfil{
		text-align:right;
		position:absolute;
		bottom:20px;
		left:0px
	}
	
	#boxchat > div > ul > li > div.setaesq > div > div > div.perfil{
		text-align:left;
	}
	
	#boxchat > div > ul > li > div > div > div > div.visualizacao{
		width:425px;
		float:left;
		height:17px
	}
	
	#boxchat > div > ul > li > div > div > div > div.visualizacao.lido{
		background:  url("../../../static/img/status-ok.gif") no-repeat 0 0px;
	}
	
	#boxchat > div > ul > li > div > div > div > div.visualizacao.nlido{
		background:  url("../../../static/img/status-waiting.gif") no-repeat 0 0px;
	}
	
	#boxchat > div > ul > li > div.setadir > div > div > div.visualizacao{
		text-align:right
	}
	
	
	/**.nano { background: #bba; width: 575px; height: 410px; }**/

/** initial setup **/
.nano {
  position : relative;
  width    : 600px;
  height   : 410px;
  overflow : hidden;
}
.nano > .nano-content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano > .nano-content:focus {
  outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  /*visibility : hidden\9;  Target only IE7 and IE8 with this hack */
  opacity    : .01;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  border-radius         : 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;
  border-radius         : 3px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}



	
@media (max-width: 615px) {
	#boxchat{
		width:298px
	}
	#scrollbar1{
		width:320px
	}
	#boxchat > div.linechat > ul > li > div > div.box{
		width:195px;
	}
	#boxchat > div.linechat > ul > li > div > img {
		max-width: 49px;
		height: auto;
	}
	#boxchat > div.linechat > ul > li > div > div.box > div.conversa > div{
		float:none!important
	}
	#boxchat > div.linechat > ul > li > div > div > div > div.perfil{
		position:relative;
		bottom:0px;
		margin-top:5px;
		float:none;
		width:auto!important;
	}

	#boxchat > div.linechat > ul > li > div > div.box > div.conversa > div.sentencas{
		width:195px
	}
	
	#boxchat > div > ul > li > div > div > div > div.visualizacao{
		width:auto;
	}
}